*{
    box-sizing: border-box;
}
:root{
    --green: #369A80;
}
body{
    width: 100vw;
    height: 100vh;
    font-family:  system-ui, -apple-system, "Segoe UI", Roboto, 
                "Helvetica Neue", "Noto Sans", "Liberation Sans", 
                Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
                 "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px !important;
    background-color: #F1FBFF !important;
    overflow-x: hidden;
}
/*GENERAL STYLES*/
.heading{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}
.section-padding{
    padding: 100px 0;
}
.custom-btn{
    border: 1px solid orange;
    
}
/*NAVBAR*/
#brand-name{
    font-size: 1.4em;
    letter-spacing: 0.2em;
}
.brand-name-span{
    color: #198754;
}
#navbarCollapse{
    justify-content: flex-end;
}
/*HOME*/
#Home{
    width: 100vw;
    overflow: hidden;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
#carousel::after{
    content: " ";
    background-color: #000000a3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.carousel-item img{
    height: 100%;
}
.carousel-caption{
    bottom: 20% !important;
    z-index: 2;
}
.carousel-caption h1{
    font-size: 2.5em;
    font-weight: 500;
    line-height: 2em;
}
.carousel-caption h2{
    font-weight: 500;
}
/*ABOUT*/
#logo{
    margin: 0 0 auto;
}
#about-brand-name{
    
    font-size: 2.5em;
    letter-spacing: 0.3em;
}
/*SERVICES*/

.card-text{
    font-size: 1.2em;
    font-weight: 300;
}
.service-card{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
}
/*GALLERY*/
#gallery-card-container{
    position: relative;
    cursor: pointer;
}
#gallery-img{
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px 0px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px 0px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
}
#gallery-btn{
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 2;
}

.modal-title{
    font-size: 1.5em !important;
}
.btn-close{
    width: 10px !important;
    border: 2px outset black !important;
    background-color: #c2c0b5a6 !important;
}
.modal-body h3{
    font-size: 1.3em;
    font-weight: 500;
    color: #198754;
}
.modal-body p{
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
}
/*OFFERS*/
.ad-cards{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
/*TESTIMONIALS*/
.testimonial-card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.testimonial-card img{
    border-radius: 100%;
}
h5.card-title{
    font-weight: 400;
    font-size: 1.7em;
}
/*CONTACT*/
input[type="submit"]{
    font-size: 1.5em;
}

/*FOOTER*/
footer{
    padding: 3em;
}
footer .heading{
    font-size: 1.4em;
    color: #198754;
    font-weight: 400;
    text-align: left;
}
footer .footer-hr{
    height: 0.2em;
    background-color: white;
}
.copyright-brand-name{
    font-weight: 700;
    font-size: 1.2em !important;
    margin-left: 0;
}
/*MEDIA QUERY*/
@media (max-width: 992px){
    #about-brand-name{
        letter-spacing: 0em;
    }
    .carousel-caption h1{
        font-size: 2em;
        line-height: 1.5em;
    }
    #footer .container .row div.col-md-2{
        width: 25%;
    }
}
@media (max-width: 768px){
    #footer .container .row div.mx-3{
        margin: auto !important;
    }
    #footer .container .row div.col-md-2{
        width: 100%;
    }
}